@font-face {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/helvetica.woff2") format("woff2"), url("../fonts/helvetica.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  cursor: default;
}

.title {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

.link {
  color: inherit;
  text-decoration: none;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header {
  border-bottom: 0.5px solid #C8C8C8;
}
.header__container {
  margin: 0 auto;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.main-nav {
  margin-right: auto;
}
.main-nav__item:first-child .main-nav__link {
  padding-left: 0;
}
.main-nav__item:last-child .main-nav__link {
  padding-right: 0;
}
.main-nav__link {
  display: block;
  padding: 27px 20px;
}

.user-nav {
  margin-left: auto;
}
.user-nav__list {
  gap: 30px;
  padding: 26px 0;
}
.user-nav__icon {
  display: block;
}
.user-nav__search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: block;
}
.user-nav__item {
  height: 100%;
}

.logo {
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo__img {
  display: block;
}

.main {
  display: flex;
  justify-content: center;
}
.main__container {
  margin: 0 auto;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content__cart {
  max-width: 760px;
}
.content__bill {
  max-width: 400px;
}

.main__breadcrumbs {
  padding-top: 50px;
  padding-bottom: 20px;
}

.breadcrumbs__list {
  gap: 10px;
}
.breadcrumbs__link {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
}
.breadcrumbs__link--active {
  color: #000000;
}

.main__content {
  padding-top: 20px;
}

.cart {
  width: 760px;
}
.cart__heading {
  padding-bottom: 30px;
}
.cart__title {
  font-size: 28px;
  line-height: 30px;
  padding-top: 30px;
}
.cart__purchases {
  padding-top: 30px;
}
.cart__contacts {
  padding-top: 40px;
}

.heading {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.heading__account {
  color: #6E6E6E;
}
.heading__link {
  color: #000000;
  padding-left: 5px;
}
.heading__title {
  font-size: 40px;
  line-height: 42px;
}

.purchases__list {
  flex-direction: column;
}

.purchase {
  border-bottom: 0.5px solid #C8C8C8;
}
.purchase__block {
  display: flex;
  margin: 25px 0;
}
.purchase:first-child {
  border-top: 0.5px solid #C8C8C8;
}
.purchase__description {
  margin-left: 20px;
}
.purchase__prices {
  margin-left: 10px;
}
.purchase__amount, .purchase__total-prices {
  margin-left: 30px;
}
.purchase__remove-btn {
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0 0 0 10px;
}

.description {
  flex-grow: 1;
}
.description__name {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 15px;
}
.description__unicode, .description__property {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding-bottom: 10px;
}
.description__subtitle {
  color: #6E6E6E;
}
.description__size-list {
  padding: 0 0 10px 0;
  margin: 0;
}
.description__color-list {
  padding: 0;
  margin: 0;
}

.size-list {
  display: flex;
  gap: 5px;
}
.size-list__input {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
.size-list__input:checked ~ .size-list__letter {
  background-color: #000000;
  color: #FFFFFF;
}
.size-list__input:disabled ~ .size-list__letter {
  color: #C8C8C8;
  cursor: not-allowed;
}
.size-list__letter {
  font-size: 12px;
  line-height: 15px;
  background-color: #F1F1F1;
  border-radius: 6px;
  width: 30px;
  display: block;
  text-align: center;
  padding: 7.5px 0;
  cursor: pointer;
}
.size-list__label {
  width: 30px;
  height: 30px;
}

.color-list__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top: 4px;
  cursor: pointer;
}
.color-list__input:checked {
  border: 2px solid #ffffff;
  outline: 1px solid #000000;
}
.color-list__input--black {
  border: 1px solid #444444;
  background-color: #444444;
}
.color-list__input--blue {
  border: 1px solid #106DA1;
  background-color: #106DA1;
}
.color-list__input--brown {
  border: 1px solid #AE6D0C;
  background-color: #AE6D0C;
}

.prices__item {
  margin: 0;
}
.prices__item--line-through {
  text-decoration: line-through;
  color: #6E6E6E;
  font-size: 12px;
  line-height: 15px;
}
.prices__item--bold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.amount {
  display: flex;
  height: 42px;
}
.amount__btn-add {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #F1F1F1;
}
.amount__btn-remove {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #F1F1F1;
}
.amount__input {
  width: 50px;
  text-align: center;
  border: none;
  appearance: none;
  font-size: 16px;
  line-height: 21px;
  background-color: #F1F1F1;
}
.amount__input::-webkit-outer-spin-button, .amount__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.total-prices__item {
  margin: 0;
}
.total-prices__item--line-through {
  text-decoration: line-through;
  color: #6E6E6E;
  font-size: 12px;
  line-height: 15px;
}
.total-prices__item--bold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.block-empty {
  background-color: #F1F1F1;
  padding: 15.5px 25px;
  justify-content: space-between;
}
.block-empty .purchase__restore-btn {
  margin-right: auto;
}

.text {
  margin: 0 25px 0 0;
  font-size: 16px;
  line-height: 21px;
  color: #6E6E6E;
}
.text__name {
  font-weight: 700;
}

.contacts__title {
  font-size: 28px;
  line-height: 30px;
  padding-bottom: 10px;
}

.payments__title {
  font-size: 28px;
  line-height: 30px;
  padding-bottom: 10px;
}

.comment__title {
  font-size: 28px;
  line-height: 30px;
  padding-bottom: 10px;
}

.contacts__user-form {
  padding-bottom: 40px;
  padding-top: 20px;
}

.user-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.user-form__group {
  display: flex;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.user-form__input {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  padding: 14px 20px;
  border: 1px solid #6E6E6E;
  max-width: 370px;
  width: 100%;
}
.user-form__input::placeholder {
  color: transparent;
}
.user-form__input:focus {
  outline: none;
}
.user-form__input:focus + .user-form__label {
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
  background-color: #FFFFFF;
  padding: 4px 2px;
  left: 16px;
  top: -11px;
}
.user-form__input:valid + .user-form__label {
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
  background-color: #FFFFFF;
  padding: 4px 2px;
  left: 16px;
  top: -11px;
}
.user-form__input--full {
  max-width: 760px;
}
.user-form__label {
  font-size: 16px;
  line-height: 21px;
  color: #6E6E6E;
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 20px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  pointer-events: none;
}
.user-form__container {
  width: 100%;
  position: relative;
}
.user-form__container:nth-child(2n) {
  text-align: end;
}
.user-form__container:nth-child(2n) .user-form__input:focus + .user-form__label {
  left: 26px;
}
.user-form__container:nth-child(2n) .user-form__input:valid + .user-form__label {
  left: 26px;
}
.user-form__container:nth-child(2n) .user-form__label {
  left: 10px;
}

.payments__payment-list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.payment-list {
  display: flex;
  flex-direction: column;
}

.payment__item {
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 20px;
}

.payment__radio {
  padding-right: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment__textarea {
  height: 140px;
  padding: 15px 20px;
  border: 1px solid #6E6E6E;
  margin-top: 20px;
  resize: none;
}

.comment__info {
  margin: 0;
  padding-top: 4px;
  color: #6E6E6E;
  font-size: 12px;
  line-height: 15px;
  padding-left: 20px;
}

.bill {
  display: flex;
  flex-direction: column;
  gap: 187px;
}
.bill__container {
  border: 1px solid #6E6E6E;
  padding: 10px 20px 30px 20px;
}

.prices-table {
  width: 100%;
  border-bottom: 0.5px solid #C8C8C8;
  cursor: default;
}
.prices-table td {
  padding: 0;
}
.prices-table tr:last-child td {
  padding-bottom: 20px;
}

.prices-table__row--big {
  font-size: 20px;
  line-height: 24px;
}
.prices-table__row--big .prices-table__text,
.prices-table__row--big .prices-table__price {
  padding-top: 20px;
}

.prices-table__row--small .prices-table__text,
.prices-table__row--small .prices-table__price {
  padding-top: 8px;
}

.prices-table__price {
  text-align: end;
  font-weight: 700;
}

.prices-table__price--sale {
  color: #D92C2C;
}

.delivery {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #C8C8C8;
}

.delivery__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 7px;
}

.delivery__sub {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #6E6E6E;
}

.bill__title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bill__price {
  margin-left: auto;
}

.form-order__input {
  display: block;
  width: 100%;
  border: 1px solid #6E6E6E;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 20px;
}
.form-order__btn {
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 0;
  font-weight: 700;
  width: 100%;
  margin-top: 20px;
}

.bill__text {
  color: #6E6E6E;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  width: 100%;
  font-size: 13.8px;
}

.bill__link {
  text-decoration: underline;
  color: #6E6E6E;
}

.footer {
  border-top: 0.5px solid #C8C8C8;
  margin-top: 40px;
}
.footer__container {
  margin: 0 auto;
  padding-top: 30px;
  justify-content: space-between;
}
.footer__title {
  font-size: 28px;
  line-height: 30px;
}
.footer__container-info {
  display: flex;
  padding-top: 100px;
  margin: 0 auto;
  justify-content: space-between;
}

.subscribe {
  max-width: 416px;
}
.subscribe__text {
  padding-top: 10px;
  color: #6E6E6E;
  font-size: 14px;
  line-height: 18px;
}
.subscribe__link {
  color: #6E6E6E;
  text-decoration: underline;
}

.form-subscription__input {
  margin-top: 20px;
  display: block;
  width: 100%;
  border: 1px solid #6E6E6E;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 20px;
}

.navs {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.navs__menu-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navs__info-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navs__socials-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-nav__item {
  padding-bottom: 15px;
}

.info-nav__item {
  padding-bottom: 15px;
}

.socials-nav__item {
  padding-bottom: 15px;
}

.container-info__text {
  color: #6E6E6E;
  margin: 0;
  padding-bottom: 15px;
}
.container-info__logo {
  vertical-align: middle;
}

.wrapper {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

/*# sourceMappingURL=styles.css.map */
